*
{
    font-size: $font_size;
}

MainWindow
{
    border-image: url(':/back.jpg') 0 0 0 0 repeat repeat;
}

QLabel
{
    color: black;
}

QPlainTextEdit, QTextEdit, QLineEdit#console
{
    font-family: Consolas;
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid white;
    border-radius: .5em;
    padding: .5em;
    margin: 0;
    selection-background-color: rgb($color2);
}

#editor
{
    padding: 0;
}

/*QToolTip {
 border-radius: 2px;
 font-size: 10pt;
 background: qlineargradient( x1:0 y1:1, x2:0 y2:0, stop:0 #007DE7, stop:1 white);
 opacity: 230;
}*/

QGroupBox {
 border: 3px solid white;
 border-radius: .5em;
 margin-top: .45em;
/* font-size: 18pt;*/
}

QGroupBox::title {
 background-color: white;
 border-radius: .25em;
 subcontrol-origin: margin;
 subcontrol-position: top center;
 padding: 0 3px;
}

QPushButton {
 background-color: rgba($color2, 0.8);
 border: 3px solid white;
 border-radius: .5em;
 height: 2em;
 min-width: 8em;
}

#penUp, #penDown
{
 min-width: 4.5em;
}
QPushButton:hover {
 background-color: rgba($color2, 0.9);
}
QPushButton:pressed {
 background-color: rgba($color1, 1.0);
}
QPushButton:checked {
 background-color: rgba($color1, 1.0);
}
QPushButton:disabled {
 color: white;
 border: none;
}
#closeButton
{
 min-width: 2em;
 max-width: 2em;
}
#closeButton:hover
{
 background-color: rgba(255, 0, 0, 0.8);
}

#addButton, #delButton
{
    min-width: 1em;
    max-width: 1em;
    min-height: 1em;
    max-height: 1em;
    height: 1em;
    padding: .2em;
    margin: .5em;
    margin-bottom: 0;
    margin-left: 0;
}
#delButton:hover
{
 background-color: rgba(255, 0, 0, 0.8);
}

QLineEdit {
    background-color: rgba(255, 255, 255, 0.8);
    border: 3px solid white;
    border-radius: .5em;
    padding: .1em;
    margin-bottom: 0;
    margin-top: .5em;
    selection-background-color: rgb($color2);
}

QSlider:horizontal {
 min-height: 2.3em;
}
QSlider::groove:horizontal {
 border: 2px solid white;
 height: .1em;
 background: rgba($color1, 1.0);
 margin: 1em 0;
 border-radius: .1em;
}
QSlider::handle:horizontal {
 background: rgba($color1, 1.0);
 width: 2em;
 margin: -0.5em 0;
 border: 2px solid white;
 border-radius: 0.5em;
}
QSlider::handle:horizontal:disabled {
 background: rgba($color1, 0.0);
}

QStatusBar
{
    background: qlineargradient(x1:0 y1:0, x2:0 y2:1,
                                stop:0 transparent,
                                stop:0.5 rgb($color2),
                                stop:1 rgb($color2));
}

QSplitter::handle:vertical
{
    margin: .5em 2em;
    padding: .1em;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    background-color:rgba($color2, 0.8);
}


QScrollBar:vertical
{
    border-radius: .25em;
    background: rgba(255, 255, 255, 0.4);
    width: .5em;
}
QScrollBar::handle:vertical
{
    font-size: $font_size;
    background: rgba($color2, 0.6);
    margin: .1em;
    border-radius: .15em;
    min-height: 2em;
}
QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical
{
    height: 0px;
}
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical
{
    height: 0px;
}
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}

QTabWidget::pane
{
    font-size: $font_size;
    border: 3px solid white;
    border-radius: .5em;
    background-color: transparent;
}

QTabWidget::pane > QWidget
{
    padding-left: .5em;
}

QTabWidget::tab-bar
{
    alignment: center;
}

QTabBar::tab
{
    font-size: $font_size;
    padding: .1em .3em;
    border: 3px solid white;
    border-bottom: none;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    background-color: rgba($color2, 0.8);
}

QTabBar::tab:selected
{
    background-color: rgba($color1, 1.0);
}

QTabBar::tab:!selected
{
    margin: .2em 0 0 0;
}

QListView
{
    border-radius: .5em;
    margin-top: .5em;
    background-color: transparent;
    min-width: 10em;
}

QListView::item
{
    font-size: $font_size;
    background-color: rgba($color2, 0.8);
    border: 3px solid white;
    border-radius: .5em;
    height: 1em;
    min-width: 4em;
    max-width: 7.5em;
    margin: .1em 0;
    margin-right: .5em;
    padding: .5em;
}

QListView::item:selected
{
    background-color: rgba($color1, 1.0);
    color: black;
}

QListView::item:disabled
{
    border: none;
    color: white;
}

QListView::item:hover
{
    background-color: rgba($color2, 0.9);
}

QListView::item:selected:hover
{
    background-color: rgba($color1, 1.0);
    color: black;
}

QListView QLineEdit
{
    margin: -2px 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    border-radius: .25em;
    selection-background-color: rgb($color2);
}
